* {
    margin: 0px, ;
    padding: 0;
}

@media screen and (min-width:1200px){
main{
    background-color:  #e8edf18e;;
}

.contenedor-principal {
    display: flex;
    flex-direction: column;
}

section{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.Odont-general, .protesis,
 .estetica{
    margin-top: 2vh;
}

a > h2 {
    font-size: 35px;
    text-align: center;
    font-family: sans-serif;
}

a > h1 {
    font-family: sora;
    font-size: 25px;
    margin-left: 3vw;
}

.tarjeta-desplegable {
    display: none;
}

/* :target+*/.tarjeta-desplegable { 
    color: rgb(62, 32, 4);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    padding: 2vh;
    background-color: #fff;
    border-radius: 10px;
    margin: 2vh;
    height: 60vh;
}

.tarjeta-desplegable > p{
    color: #000;
    font-family: sora;
    font-size: 20px;
}

.tarjeta-desplegable > img{
    height: 30vh;
    width: 30vw;
    justify-content: center;
}

.tarjeta-desplegable1 :target{
    color: rgb(62, 32, 4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .consulta-control
{
    display: flex;
    align-items: center;
    gap: 3vh;
    padding: 2vh;
    background-color: #fff;
    border-radius: 10px;
    margin: 3vh;
}

.consulta-control > img{
    height: 30vh;
    width: 30vw;
}

.primera-consulta{
    display: flex;
    align-items: center;
    gap: 3vh;
    padding: 2vh;
    background-color: #fff;
    border-radius: 10px;
    margin: 3vh;
}

.primera-consulta > img{
    height: 30vh;
    width: 30vw;
}

.consulta-urgencia{
    display: flex;
    align-items: center;
    gap: 3vh;
    padding: 2vh;
    background-color: #fff;
    border-radius: 10px;
    margin: 3vh;
}

.consulta-urgencia > img{
    height: 30vh;
    width: 30vw;
}

.tarjeta-desplegable1 > div > p{
    color: #000;
    font-family: sora;
    font-size: 20px;
}



section > a {
    /* display:block; */
    height:35px;
    line-height:35px;
    background:linear-gradient(#eee, #ccc);
    color:#333;
    text-decoration:none;
    text-align:center;
    text-shadow:0 1px 0 rgba(255,255,255,.5);
    border-bottom:1px solid #aaa; 
}

#intro {
    border-radius: 2px 2px 0 0;
}

#contact {
    border-radius: 0 0 3px 3px;
}

section > a:hover,
section > a:focus {
    opacity: .6;
}

section > a:active {
    background: linear-gradient(#ccc, #ddd);
    color: #000;
}

h2 {
    text-align: center;
    color: #0094da;
    font-family: sora;
    font-size: 30px;
}



.img-dec {
    width: 40px;
    height: 30px;
    border-radius: 7px;
}

}