:root{
    --main-footer: #1c1c1c;
}

* {
    margin: 0;
    padding: 0;
}
/* -----------------------------------------NAV------------------------------------------------------------------------------------- */


.header{
width: 100%;
background-color: var(--main-footer);
height: 75px;
display: flex;
align-items: center;
gap: 14vw;
}

.nav{
display: flex;
align-items: center;
gap: 14vw;
}

.nav-list{
display: flex;
justify-content: space-around;
width: 40vw;
}

.nav-list > li > a{
font-family: 'sora';
text-decoration: none;
color:#fff;
}

.nav-list > li > a:hover{
color: #0094da;
}

.nav-list-redes{
display: flex;
justify-content: space-around;
align-items: center;
width: 15vw;
}



.img-logo{
width:12vw;
height:8vh;
border-radius: 5%;
margin-left: 2vw;
}

.abrir-menu-responsive, .cerrar-menu-responsive{
display: none;
}

li{
list-style: none;
}

.nav-list > li > a{
    font-family: 'Sora', sans-serif;
}


.facebook{

height: 5.5vh;
width: 32px;

background-image: url(https://i.ibb.co/xj9JSp0/facebook-blanco-1.png);
background-size: 32px ;
background-repeat: no-repeat;
background-position: center;

}
.instagram{

height: 5.5vh;
width: 32px;
background-image: url(https://i.ibb.co/X4MH3xF/instagram-blanco.png);
background-size: 32px;
background-position: center;
background-repeat: no-repeat;
  
}
.whatsapp{

height: 5.5vh;
width: 32px;

background-image: url(https://i.ibb.co/gr2pJtY/whatsapp-blanco.png);
background-size: 32px;
background-position: center;
background-repeat: no-repeat;
  
}
.gmail{

height: 5.5vh;
width: 32px;
background-image: url(https://i.ibb.co/bd5fK4b/gmail-blanco.png);
background-position: center;
background-repeat: no-repeat;

}

/* -------------------------------MAIN------------------------------------------------------------- */
.containedor-general{
    height: 66.2vh;
    padding: 3vh;
}
.box{
    background-color: lightgray;
    border-radius: 7px;
    border: black solid;
    /* padding: 10px; */
    margin: 5px;
    color: #1c1c1c;
    
}
.usos{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1vh;
   
}
.ubicacion{
    background-color: lightgray;
    border-radius: 7px;
    border: black solid;
    padding: 10px;
    margin: 5px;
}
input, textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    min-width: 100%;
    max-width: 100%;
}

/* --------------------------mi footer------------------- */
 footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--main-footer);  
}

.contenedor-redes-footer{
    display: flex;
    justify-content: space-around;
    width: 18vw;

}


.contenedor-texto-f{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-footer{
    width: 15vw;
    height: 11vh;
    border-radius: 7px;
    margin-top: 2vh;
}

.contenedor-texto-f > h4,p {
    color: #ffffffd0;
}

.contenedor-texto-f > h4{
    margin-top: 0px;
}
 .contenedor-texto-f {
    font-family: 'Roboto Condensed', sans-serif;
}

.contenedor-grupo>h5{
    font-family: 'sora','sans-serift';
    color: #fff;
    font-size: 20px;
    padding: 2vh 0;
    text-align: start;
}

.contenedor-grupo>ul>li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 3vw;
    color: #fff;
    list-style-type: none;
}  